body{
    background-image: url("new.jpg");
}

Ul{
  list-style: none;
  margin: 0px;
  padding: 1px 1px;
  overflow: hidden;
  background-color: grey;
  border: 1px solid rgb(10, 1, 1);
  font-size: larger;
  font-family: serif;
}
li{
   float: left; 
}
li a{
  display: block;
  color:white;
  text-align: center;
  padding: none;
  text-decoration:none;
  padding: 15px;
}
p{ text-align:center;
  color:black;
    text-indent:  60px;
  font-size: larger;
  border:0px solid rgb(14, 0, 0);
margin: 0px;
 
  height: 140px;
width: 1500px;
border-radius:5px;
padding:none;
position: fixed;
bottom:1px;
}
form{
  background-color: none;
  height: 300px;
  width:298px;
  border: 12px;
  position: relative;
  top: 275px;
  left:500px;
  font-size: 115%;
  font-family: sans-serif;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
button{
  color: black;
  font-size: large;
  background-color: grey;
  text-align: center;
  padding: 5px;
  

}

